<div class="login-wrapper">
	<div class="box">
		<div class="content-wrap">
			<h6>LOG IN</h6>
			<%= form_for @user, :url => sessions_path do |f| %>
			
			<% if @user.errors.any? %>
				<%= f.text_field :name , :class => "form-control",  :placeholder => @user.errors[:name][0]%>
			<%else%>
			    <%= f.text_field :name , :class => "form-control",  :placeholder => "name"%>
			<% end %>
			
			<% if @user.errors.any? %>
			    <%= f.password_field :password , :class => "form-control",  :placeholder => @user.errors[:password][0]%>
			<%else%>
			    <%= f.password_field :password ,:class => "form-control", :placeholder => "password"  %>
			<% end %>
			
			</br>
			
			<%= f.submit(:value => "Log in", :class => "btn-glow primary login") %>
			<% end %>
		</div>
    </div>
</div>
