<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @word_def.title %>
</p>

<p>
  <strong>En:</strong>
  <%= @word_def.en %>
</p>

<p>
  <strong>Jp:</strong>
  <%= @word_def.jp %>
</p>

<p>
  <strong>Eg:</strong>
  <%= @word_def.eg %>
</p>

<%= link_to 'Edit', edit_word_def_path(@word_def) %> |
<%= link_to 'Back', word_defs_path %>
