        <div class="row form-wrapper">
        	<div class="col-md-9 with-sidebar">
        		<div class="container">
        			<%= form_for(@note, :html => {:class => "new_user_form"})  do |f| %>
        			<div class="col-md-12 field-box">
        				<label>Name:</label>
        				<%= f.text_field :name, :class => "form-control",:placeholder => @note.errors[:name][0]?@note.errors[:name][0]:"" %>
                    </div>
                    <div class="col-md-12 field-box">
                    	<%= f.label :mark %>
                    	<div class="ui-select 5">
                    		<%= f.select :mark, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"],["5", "5"]]  %>
                    	</div>
                    </div>
                    <div class="col-md-12 field-box textarea">
                    	<%= f.label :comment %>
                    	<%= f.text_area :comment, :class =>"col-md-9" %>
                    </div>
                    <div class="col-md-11 field-box actions">
                    	<%= f.submit(:class=> "btn-glow", :value=>"Submit") %>
                    	<span>OR</span>
                    	<input type="reset" value="Cancel" class="reset">
                    </div>
                    <% end %>
                 </div>
             </div>
         </div>
     </div>	